<hr>
<div id="footer-container">
    <p><a href="https://github.com/brenfrrs"; style="color: var(--accent); text-decoration: none;">GitHub</a></p>
    <p><a href="https://www.linkedin.com/in/brendangferris/"; style="color: var(--accent); text-decoration: none;">LinkedIn</a></p>
    <p><a href="/privacy"; style="color: var(--accent); text-decoration: none;">Privacy Policy</a></p>
    <p><a href="#" onclick="showCookieSettings(); return false;" style="color: var(--accent); text-decoration: none;">Cookie Settings</a></p>
</div>